html, body {
    background-color: #FFFFEB;
    font-family: Arial,Helvetica,sans-serif;
    text-align: justify;
    font-size: small;
}
.license .ref {
    position: relative;
}
.license .hidden {
    background-color: #D0D0D0;
    border: 1px solid white;
    bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2px;
    position: absolute;
    visibility: hidden;
}
.license:hover .hidden {
    visibility: visible;
}
.node {
    position: relative;
}
.sub {
    border-left: 1px solid #c0c0c0;
    padding-left: 1.5em;
}
.head {
    height: 1em;
    white-space: nowrap;
}
.node:hover > .head, .node.hover > .head {
    color: darkblue;
    font-weight: bold;
}
.node:hover > .head:hover, .node.hover > .head.hover {
    color: blue;
}
.node.collapsed {
    font-style: italic;
}
.node.collapsed > .sub {
    display: none;
}
.node.collapsed.hover > .sub {
    display: block;
}
.value {
    background-color: #D0D0D0;
    border: 1px solid white;
    display: none;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 1.2em;
    z-index: 2;
}
.head:hover + .value, .head.hover + .value {
    display: block;
}
.preview {
    color: #505050;
    font-weight: normal;
    margin-left: 1em;
}
#tree {
    font-family: monospace;
}
#dump {
    background-color: #f0f0d0;
    border: 1px solid #E0E0E0;
    font-family: monospace;
    padding: 2px;
    white-space: pre;
    z-index: 1;
}
#dump .tag {
    color: blue;
}
#dump .dlen {
    color: darkcyan;
}
#dump .ulen {
    color: darkgreen;
}
#dump .intro {
    color: blue;
}
#dump .outro {
    color: darkgreen;
}
#dump .hexCurrent {
    background-color: #A0A0A0;
}
#dump .hexCurrent .hex {
    background-color: #c0c0c0;
}
