<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>TSL Trust Signature validation service</description>
    <display-name>TSL Trust signature validation</display-name>
    <context-param>
        <description>The TSLTrust data folder</description>
        <param-name>DataDirectory</param-name>
        <param-value>/opt/webapp/tsltrust-eln/sigval</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>se.tillvaxtverket.ttsigvalws.daemon.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>TTSigValServlet</servlet-name>
        <servlet-class>se.tillvaxtverket.ttsigvalws.ttwebservice.TTSigValServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TTSigValServlet</servlet-name>
        <url-pattern>/TTSigValServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
