
body {
    font-family: Verdana, Arial, sans-serif;
    font-size: smaller;
    padding: 20px;
    color: #555;
    width: 90%;
}

h1 {
    letter-spacing: 6px;
    font-size: 1.6em;
    color: #be7429;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    text-align: left;
    letter-spacing: 6px;
    font-size: 1.4em;
    color: #be7429;
    font-weight: normal;
}
h3 {
    margin-bottom: 2px;
    margin-top: 10px;
}

div {
    
    background-color: #f0f0f0;
}

div.top{
    
    background-color: #ffffff;
}
div.leftTop {
    
    float: left;
    margin-right: 20px;
}
div.centerTop{
    
    background-color: #ffffff;
    text-align: center;
    min-width: 600px;
    min-height: 60px;
}
div.rightTop{

    float:right;
    margin-left: 20px;
}


.inpbar{
    
    background-color: #be7429;
    color: #ffffff;
}

.space{
    
    margin-left: 60px;
}

table {
    padding: 2px;
    font-family: sans-serif;
    margin-right: 20px;
}

tr.normRow {
    vertical-align: top;
}

tr.emptyRow{
    line-height: 1px;
}
td {
    padding: 1px;
    padding-right: 10px;
}

a {
    color: #be7429;
    text-decoration: none;
}

a.image {
    
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}


b.big {
    color: #002c33;
}

b.color {
    color: #002c33;
}

strong.big{
    color: #3a1f1a;
    margin-top: 100px;
    line-height: 30px;
}

strong.color{
    color: #3a1f1a;
}

strong.colorSpace{
    color: #3a1f1a;
    line-height: 22px;
}

strong.fat{
    
    color: #333333;
    font-weight: bolder;
    text-decoration: underline;
    font-size: large;
}

.b {
    color: #683300;
    font-weight: bold;
}


.str{
    
    margin-top: 10px;
    color: #330000;
    font-weight: bolder;
}
.good {
    
    color: #1c4800;
    font-weight: 500;
}

.error {    
    color: #730000;
    font-style: italic;
    font-weight: 500;
}
.goodBig {
    
    color: #1c4800;
    font-weight: bold;
    font-size: larger;
}

.errorBig {    
    color: #730000;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
}

.errorMess{
    color: #730000;
    font-style: italic;
    font-weight: 500;    
}

.attr{
    
    color: #867300;
    font-style: italic;
}

.verbAttr{
    
    color: #867300;
    font-style: italic;
}

.prop{
    
    color: #002c33;
}

.warn{
    
    color: #bb6a00;
}
.warnMess{
    
    color: #bb6a00;
}
.normal {
    
}

.errorRow{
    
}

.verboseRow{
    
}


