{
  "Mode": "devmode",
  "LotlURL": "https://ec.europa.eu/information_society/policy/esignature/trusted-list/tl-mp.xml",
  "MaxConsoleLogSize": "1000",
  "MaxMajorLogAge": "90",
  "TSLrecacheTime": "1",
  "CaCountry": "SE",
  "CaOrganizationName": "Swedish eSENS Pilot Test",
  "CaOrgUnitName": "Signature validation",
  "CaSerialNumber": "SE555555-5555",
  "CaCommonName": "Swedish eSENS Pilot - Test validation service",
  "CaFileStorageLocation": "/Users/stefan/Sites/tsltrust",
  "CaDistributionURL": "http://localhost/~stefan/tsltrust",
  "LogDbConnectionUrl": "jdbc:mysql://localhost:3306/tsltrust_log",
  "LogDbUserName": "tsltrust",
  "LogDbPassword": "tsltrust987",
  "PolicyDbConnectionUrl": "jdbc:mysql://localhost:3306/tsltrust_policy",
  "PolicyDbUserName": "tsltrust",
  "PolicyDbPassword": "tsltrust987",
  "DbAutoCreateTables": "false",
  "DbVerboseLogging": "false",
  "SuperAdminID": "198504051569",
  "SuperAdminAttribute": "personalIdentityNumber",
  "SuperAdminIdP": "https://idp.esp-idp.se/idp",
  "DiscoFeedUrl": "https://ds.esp-disco.se/disco/json?action\u003didplist"
}