<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>The administration service of TSL Trust</description>
    <display-name>TSL Trust Admin Service</display-name>
    <context-param>
        <description>Directory for server data storage</description>
        <param-name>DataLocation</param-name>
        <param-value>/opt/webapp/tsltrust-eln/admin/</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>se.tillvaxtverket.tsltrust.webservice.daemon.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>HtmlProvider</servlet-name>
        <servlet-class>se.tillvaxtverket.tsltrust.webservice.HtmlProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestIdentities</servlet-name>
        <servlet-class>se.tillvaxtverket.tsltrust.weblogic.TestIdentities</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestIdentities</servlet-name>
        <url-pattern>/testid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HtmlProvider</servlet-name>
        <url-pattern>/TThtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
